<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1">

	<title>Rogelio Espinoza</title>
    <link rel="icon" href="/images/yo.jpg" type="image/jpg" sizes="16x16">
    
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Scripts -->
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Rogelio Espinoza</a>
                    </div>
                </div>
                <!-- <input id="name" value=" <%=name%> " /><br> -->
                <div class="collapse navbar-collapse" id="app-navbar-collapse"> 
                    <!-- Right Side Of Navbar --> 
                    <ul class="nav navbar-nav navbar-right"> 
                        <li><a href="/resume" target="_blank">Resume</a></li> 
                    </ul> 
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row profile_header " >
                <!-- Profile picture-->
                <div class="col-sm-5 col-md-4 " align="center" >
                    <img width="300" height="300" class="img-circle" src="/images/yo.jpg">
                    <h1>Rogelio Espinoza</h1>
                    <h2>Software Engineer</h2>
                </div>
                <!-- Carousel-->
                <div id="myCarousel" class="carousel slide col-sm-7 col-md-8" data-ride="carousel">
                    <h1 align="center">My Work</h1>
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="container">
                                <div class="carousel-caption">
                                    <img class="img-circle"  src="/images/chatogo.png" align="center">
                                    <h1>ChatoGo</h1>
                                    <p>Android App/Own Project</p>
                                    <p><a class="btn btn-lg btn-primary" href="https://play.google.com/store/apps/details?id=com.cyr.chatogo&hl=en" role="button">Check it out</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <img class="img-circle"  src="/images/jumpingtherope.png" align="center">
                                    <h1>Jumping The Rope</h1>
                                    <p>Android Game/Own Project</p>
                                    <p><a class="btn btn-lg btn-primary" href="https://play.google.com/store/apps/details?id=com.ryc.jumpingtheropegame&hl=en" role="button">Check it out</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                            <div class="carousel-caption">
                                <img class="img-circle" src="/images/shootingplates.png" align="center">
                                <h1>Shooting Plates</h1>
                                <p>Android Game/Own Project</p>
                                <p><a class="btn btn-lg btn-primary" href="https://play.google.com/store/apps/details?id=com.RogeryCecy.Fps&hl=en" role="button">Check it out</a></p>
                            </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <img class="img-circle"  src="/images/rycracing.png" align="center">
                                    <h1>RYC Racing</h1>
                                    <p>Android Game/Own Project</p>
                                    <p><a class="btn btn-lg btn-primary" href="https://play.google.com/store/apps/details?id=com.rycracing.ryc&hl=en" role="button">Check it out</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <img class="img-circle"  src="/images/lockerapp.png" align="center">
                                    <h1>Locker App</h1>
                                    <p>Android App/Team Project</p>
                                    <p><a class="btn btn-lg btn-primary" href="https://play.google.com/store/apps/details?id=com.archangel.locker&hl=en" role="button">Check it out</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel buttons-->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div><!-- /.carousel -->
            </div>
            <div class="row" align="center" >
                <div class="col-sm-7 col-md-7" align="left">
                    <h1 style="border-bottom:1px solid black">About Me</h1>
                    <p>
                    My name is Rogelio Espinoza. I am a 2016 UTSA graduate. I have always been fascinated with the way technology works.
                    Since I was young I have worked with fixing computers, phones, and other gadgets. That is the reason why I pursued a bachelor in computer science.
                    All the courses I have taken have helped me establish a more in-depth knowledge of softwares and how each one works.
                    I hope to one day begin my own company that will create innovative software to help our community. 
                    I have the capacity to multitask and when I set my mind to something I don’t stop until I accomplish it. 
                    Working with others is something that I believe is vital in order to get the best work done. 
                    I pride myself on being able to obtain my bachelor. I had to go through many obstacles but I never gave up.
                    My motto is that “Success is no accident. It is hard work, perseverance, learning, studying, sacrifice, and most of all, love of what you are doing or learning to do.”-Pele.  
                    </p>
                    <br>
                    <a class="social" href="https://github.com/wjk232" target="_blank">
						<img width="80" height="80" src="images/GitHub-Mark.png"><br>GitHub</a>
					<a class="social" href="https://www.linkedin.com/in/rogelio-espinoza-80684a120" target="_blank">
						<img width="80" height="80" src="images/LinkedIn.png"><br>LinkedIn</a>
					<div style="clear:both"></div>                   
                    <!--<h2>Education</h2>
                    <b>The University of Texas at San Antonio</b>
                    <p>· B.S. in Computer Science</p>
                    <b>Relevant Courses</b>
                    <p>· Intro Comp Prog II, Data Structures, Analysis Of Algorithms, Application Programming, Software Engineering, Programming Languages, Computer Architecture, System Programming, Operating Systems, Web technologies, Computer Org, Artificial Intelligence, Parallel Programming, Computer Networks, Project Management, Software Validation and Quality Assurance
                    </p>
                    <h2>Skills & Abilities</h2>
                    <b>Programming Languages & Frameworks</b>
                    <p>· Perl, Sed, AWK, Java, C, Python, Lisp, MySQL, PHP, Shell, Bash , IA32 Assembly Language , RxJava ,HTML, CSS, Laravel, Bootstrap, JQuery, JavaScript ,Lamp, Wamp</p>
                    <b>Software</b>
                    <p>· Microsoft Word, Adobe Photoshop, Blender, Unity, Eclipse, Android Studio, Eclipse</p>
                    <b>Operating Systems</b>
                    <p>· Windows(7, 8, 10), Linux, Unix</p>
                    <b>Professional</b>
                    <p>· Strong motivational skills, Passionate about computers, Good analytical & logical thinking, Hardworking</p>-->
                </div> 
                <div class="chatogo col-sm-5 col-md-5" >
                    <img width="72" height="72" style="display:block; margin:auto;" src="images/ChatoGo-icon.png">
                    <!-- Chat Tabs-->
                    <ul id="tabs" class="nav nav-tabs" style="display:none">
                        <li style="width:50%" class="active"><a  data-toggle="tab" href="#showMessagesNearme" style="color:#000">NEARME</a></li>
                        <li style="width:50%"><a data-toggle="tab" href="#showMessagesRegion" style="color:#000">REGION</a></li>
                    </ul>
                    <!-- Chat window for Messages and Login-->
                    <div class="row" >         
                        <div id="login" class="login">
                            <form id="loginForm" class="loginForm" action="">
                                <input type="text" id="username" name="username" class="userInput" placeholder="Username" maxlength="20" required>
                                <input type="text" id="location" name="location" class="userInput" placeholder="Location: San Antonio Tx" required>
					            <input type="submit" value="Submit" class="btn btn-success " >
                            </form>
                        </div>    
                        <div id="tab-content" class="tab-content" style="display:none" >
                            <div id="showMessagesNearme"  class="tab-pane active chat-messages col-sm-12 col-md-12" >
                                <!--- Append messages-->
                            </div>
                            <div id="showMessagesRegion"  class="tab-pane chat-messages col-sm-12 col-md-12" >
                                <!--- Append messages-->
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <!--- Form to send messages using ajax for not reloading page--->
                        <div id="chat-textbox" class="chat-textbox" style="display:none" align="center" style="background:#D3D3D3">
                            <form id="messageForm" action="" >
                                <div class="input-group ">
                                <textarea id="msg" placeholder="Type message...." class="form-control input-sm" wrap="hard" type="text" rows="2" name="firstname"></textarea>
                                <span class="input-group-btn" >
                                <input class="btn btn-success button" type="submit" value="Submit">
                                </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /container -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	    <script src="/socket.io/socket.io.js"></script>
        <script>

        $(document).ready(function(){
            var username;
            var location_input;
            var location;  
    
            function setupSocketIO() {
                var socket = io();
                var objDivNearme = document.getElementById("showMessagesNearme");
                var objDivRegion = document.getElementById("showMessagesRegion");

                socket.emit('status', username);
                $('#messageForm').submit(function(e){
                    e.preventDefault();
                    
                    var msg = {username : username, message : $('#msg').val(), location : location};
                    if ( $('.nav-tabs .active').text() == "NEARME" ) {
                        socket.emit('nearme', msg);
                        $("#showMessagesNearme").append('<div id="message" align="right"><div class="bubble">'+$('#msg').val()+'</div><div>'+username+'</div></div><br>');
                        objDivNearme.scrollTop = objDivNearme.scrollHeight;
                    }else{
                        socket.emit('region', msg);
                        $("#showMessagesRegion").append('<div id="message" align="right"><div class="bubble">'+$('#msg').val()+'</div><div>'+username+'</div></div><br>');
                        objDivRegion.scrollTop = objDivRegion.scrollHeight;
                    }
                    
                    $('#msg').val(""); 
                });
                
                socket.on(location, function(msg){
                    $("#showMessagesNearme").append('<div id="message" align="left"><div class="bubble bubble-reverse" >'+msg.message+'</div><div>'+msg.username+'</div></div><br>');                   
                    objDivNearme.scrollTop = objDivNearme.scrollHeight;
                });
                
                socket.on(location.substring(location.indexOf(",") + 1), function(msg){
                    $("#showMessagesRegion").append('<div id="message" align="left"><div class="bubble bubble-reverse">'+msg.message+'</div><div>'+msg.username+'</div></div><br>');                   
                    objDivRegion.scrollTop = objDivRegion.scrollHeight;
                });
                
                return;
            }
            
            $("#loginForm").submit(function(e){
                e.preventDefault();

                username = "Guest-" + $('#username').val().charAt(0).toUpperCase() + $('#username').val().slice(1);
                location_input = $('#location').val();
                
                document.getElementById("username").value = "";
                document.getElementById("location").value = "";
                
                $( "#login" ).slideUp( 600 );
                httpGet();
                
            });
            
            function httpGet()
            {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var results = JSON.parse(this.responseText).results[0].address_components;
                        location = setAddress(results);
                        setupSocketIO();
                        $( "#tab-content" ).delay( 800 ).slideDown( 400 );
                        $( "#chat-textbox" ).delay( 800 ).slideDown( 400 );
                        $( "#tabs" ).delay( 800 ).fadeIn( 400 );
                    }
                    if(this.readyState == 4 && this.status != 200){
                        $( "#login" ).slideDown( 600 );
                    }                    
                };
                xhttp.open("GET", "https://maps.googleapis.com/maps/api/geocode/json?address=" + parseInputLocation() + "&key=", true);
                xhttp.send();
                return;
            }
            
            function parseInputLocation(){
                var i;
                var location = '';
                var tmp_location = location_input.split(' ');
                
                for(i = 0; i < tmp_location.length; i++){
                    location += tmp_location[i] + '%20';
                }
                return location;
            }
            
            function setAddress(results){
                var i;
                var tmp_location = '';
                for(i = 0; i < results.length; i++) {
                    if(results[i].types[0] == 'locality'){
                        tmp_location += results[i].long_name + ',';
                    }
                    if(results[i].types[0] == 'administrative_area_level_1'){
                        tmp_location += results[i].long_name + ' ';   
                    }
                    if(results[i].types[0] == 'country'){
                        tmp_location += results[i].short_name; 
                    }
                }
                return tmp_location;
            }
        });
        </script>
    </body>
</html>

