html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    /*background: rgba(54, 25, 25, 0.0);
    background-image: url("https://raw.githubusercontent.com/wjk232/Projects-Assignments/master/blue.jpg");*/
}

/* navbar */
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
.navbar-default a:hover {
    border-color: #000000;
    color: #999999 !important; 
}

.profile_header{
   padding-top:100px;
   color: #fff;
   background-image: url("/images/Buildings.png");
   /*background-color: #636b6f;*/
}

@media (max-width: 768px) {
  .profile_header {
    background-image: url("/images/nn22.jpg");
  }
}

.profile{
	text-align: center;
}

/* Change carousel buttons */
.carousel .carousel-control {
  background: rgba(0,0,0,0);
  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background: rgba(0,0,0,0);  
  height: 400px;
}




.container-fluid{
   margin-top:20px;
   background:#990000;
   width:90%;
   max-width:520px;
   border: 1px solid #000;  
}

.chat-messages {
   margin: 0px 0px 0px 0px;
   background:#FFF;
   border: 1px solid #000; 
   height: 350px;
   max-width:520px;
   overflow-y: scroll;
   overflow-x:hidden;
}

@media screen and (min-width: 800px) {
   .chat-messages{
      height: 400px;
   }
}

.chat-textbox{
   padding: 10px 0px 5px 0px;
   max-width:520px; 
}

.button {
   height:48px;
   width:80px; 
}

.bubble {
   white-space: -moz-pre-wrap; 
   white-space: -pre-wrap; 
   white-space: -o-pre-wrap; 
   word-wrap: break-word;
   background:#e8e8e8;
   display: inline-block;
   padding:10px;
   margin:20px;
   position:relative;
   width:auto;
   min-width: 10px; /* Overrides max-width */
   border-radius:5px;
   border-color:#000;
   max-width:200px;
}

.input-group{
   margin: 0px 10px 5px 10px;
}
.input-group textarea{
	resize: none;
	border-color:#eeeeee;
}

/* Login Page */
 
.login {
  border: 1px solid #000; 
  height: 400px;
  background-color: #fff;
}
 
.login .formL {
  height: 100px;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}
 
.login .formL .userInput {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #990000;
  padding-bottom: 15px;
  margin-bottom:20px;
  text-align: center;
  width:90%;
  font-size: 150%;
  letter-spacing: 3px;
}